.navbar {
	background-color: #0c7479;
}

.navbar-collapse {
	text-align: center;
}

.navbar-brand {
	color: #ffffff;
}

.nav-link {
	padding-left: 1em !important;
	padding-right: 1em !important;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 5px;
	font-weight: bold;
}

.nav-link:hover {
	color: #0c7479 !important;
	background-color: #ffffff;
}

.active {
	color: #ffffff;
}

.btn-main {
	background-color: #0c7479 !important;
	color: #ffffff !important;
}

.main_row {
	background-color: #e9ecef !important;
}